<h1>ブログ記事一覧</h1>
<p><%= notice %></p>
<table>
  <% @blogs.each do |blog| %>
    <div class="blog-form">
      <ul>
        <li>タイトル</li>
        <h2><%= link_to "#{blog.title}", blog_path(blog) %></h2>
        <li>更新日</li>
        <li><%= "#{blog.updated_at}" %></li>
      </ul>
    </div>
  <% end %>
</table>
<%= link_to "ブログを新規作成する", new_blog_path %>